@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Merriweather:wght@300;400;700;900&display=swap');
@import "tailwindcss";

@theme {
    --font-serif: 'Merriweather', serif;
    --font-sans: 'Inter', sans-serif;
}

@layer base {
    body {
        @apply bg-black text-white font-sans overflow-hidden;
        font-family: var(--font-sans);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-serif);
    }
}

@layer utilities {
    .animate-in {
        animation: animateIn 0.4s ease-out forwards;
    }

    @keyframes animateIn {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}